absl-py==2.5.0
alembic==1.20.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1783975656336/work
cloudpickle==3.1.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorlog==6.12.0
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy==1.3.3
cycler==0.12.1
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1780390182/work
etils==1.14.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
Farama-Notifications==0.0.6
filelock==3.32.4
fonttools==4.63.0
fsspec==2026.7.0
glfw==2.10.2
greenlet==3.5.6
gym-notices==0.1.0
gymnasium==1.3.0
ImageIO==2.37.4
ipykernel @ file:///D:/bld/bld/rattler-build_ipykernel_1781101760/work
ipython @ file:///D:/bld/bld/rattler-build_ipython_1787921907/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jedi_1782251948/work
Jinja2==3.1.6
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1787929615/work
jupyter_core @ file:///D:/bld/bld/rattler-build_jupyter_core_1760643889/work
kiwisolver==1.5.1
Mako==1.4.1
MarkupSafe==3.0.3
matplotlib==3.11.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1778264321245/work
mpmath==1.3.0
mujoco==3.12.0
nest-asyncio2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nest-asyncio2_1770973502/work
networkx==3.6.1
numpy==2.4.6
optuna==5.0.0
packaging==26.3
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1777722955/work
pillow==12.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1787881635/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1785160527032/work
psutil @ file:///D:/bld/bld/rattler-build_psutil_1787417376/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pygments_1786995678/work
PyOpenGL==3.1.10
pyparsing==3.3.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1787374329/work
PyYAML==6.0.3
pyzmq @ file:///D:/bld/bld/rattler-build_pyzmq_1787300947/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
SQLAlchemy==2.0.53
stable_baselines3==2.9.0
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
sympy==1.14.0
torch==2.14.0+cu132
torchvision==0.29.0+cu132
tornado @ file:///D:/bld/tornado_1786226718558/work
tqdm==4.70.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_traitlets_1785761789/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1783002732/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1782771721065/work
zipp==4.1.0
